.NavBar {
  border-radius: 2px;
  padding: 0 20px;
  display: flex;
  transition: transform 0.3s ease; /* Smooth transition */
  transform: translateY(0); /* Visible by default */
  z-index: 1000;
}

.NavBar-hidden {
  transform: translateY(-100%); 
}

.toolbar {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.nav-links {
  display: flex;
}

.nav-button {
  margin-right: 16px;
}
